<!DOCTYPE html>
<html>

<head>
    <title>Hostname Display</title>
</head>

<body>
    <h1>Hello from {{ ansible_hostname }}!</h1>
    <h1>IP Address of the host is: {{ ansible_all_ipv4_addresses }}</h1>
</body>

</html>